.navigation {
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: $color-white;
        z-index: 2000;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    &__background {
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        height: 6rem;
        width: 6rem;
        // radial-gradient like liner-gradient but it makes the color or the image circle around the element
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transform: scale(50);
        -webkit-transform: scale(50);
        -moz-transform: scale(50);
        -ms-transform: scale(50);
        -o-transform: scale(50);
        -webkit-transform: scale(50);
    }
    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        list-style: none;
        text-align: center;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    &__item {
        margin: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -ms-transition: all .4s;
            -o-transition: all .4s;
            span {
                margin-right: 1rem;
                display: inline-block;
            }
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
            -webkit-transform: translateX(1rem);
            -moz-transform: translateX(1rem);
            -ms-transform: translateX(1rem);
            -o-transform: translateX(1rem);
        }
    }
}